* {
  background-color: inherit;
}

body {
  background-color: #f2f2f2;
  max-width: 85%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Merriweather, serif;
  color: #00582a;
  text-align: center;
}

p {
  font-family: Lato, sans-serif;
  color: #0c0c0c;
}

.dropdown a {
  font-family: Merriweather, serif;
  color: #00582a;
  font-size: 2em;
}

.dropdown a:hover {
  color: #0c0c0c;
}

.logo-main {
  display: inline;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.management {
  display: flex;
  padding-top: 1.5em;
}

.management img{
  padding-right: 1em;
  max-width: 50%;
}

.management p{
  max-width: 50%;
  padding-right: 1.5em;
}

.calendar-main {
  display: block;
  margin: auto;
  padding-top: 1.5em;
}
